.text-align-center {
    text-align: center;
}

#myBoard {
    max-width: 100%;
    height: auto;
    overflow: scroll;
}

.highlight-white {
    box-shadow: inset 0 0 100px 100px rgb(255, 213, 0);
}

.highlight-black {
    box-shadow: inset 0 0 100px 100px rgb(0, 131, 196);
}

.highlight-hint {
    box-shadow: inset 0 0 100px 100px rgb(0, 175, 9);
}

.no-underline {
    text-decoration: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-header {
    font-size: 20px;
    font-weight: bold;
}
